body {
  background: #ddd; }

body {
  overflow-x: hidden; }

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul, li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a {
  text-decoration: none;
  color: inherit; }

a img {
  border: 0; }

* {
  box-sizing: border-box; }

.wrap {
  width: 100%;
  height: 100%;
  position: relative; }

.clear:before,
.clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

input, select, textarea {
  -webkit-border-radius: 0px; }

#navToggle, #mobile-nav, #mobile-detect, #ccccc {
  display: none; }

.hidden-element {
  display: none; }

.visible {
  display: block; }

.bold {
  font-weight: bold; }

#site-header {
  height: 3.5em;
  width: 100%;
  background: #252525;
  padding: .25em 5%;
  position: relative; }
  #site-header h1 {
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.75em;
    position: relative;
    z-index: 1; }

.logo {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.75em;
  position: relative;
  z-index: 1; }

#header-background {
  -webkit-animation: fadein 1s 1;
  animation: fadein 1s 1;
  background: url("../img/starry.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#login-wrapper {
  height: calc(100vh - 3.5em);
  width: 100%;
  position: relative;
  overflow: hidden; }

#login-frame {
  width: 20%;
  min-width: 20em;
  height: 100vh;
  padding: 2em 1.5em;
  background: #fff;
  position: absolute;
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif; }
  #login-frame label, #login-frame input {
    display: block; }
  #login-frame label {
    margin-top: .5em; }
  #login-frame input {
    width: 100%;
    border: 1px solid #252525;
    height: 3.5em;
    padding-left: .45em; }
  #login-frame input[type='submit'] {
    background: none;
    border: 1px solid #252525;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    margin-top: 2em;
    transition: .3s;
    padding-left: 0; }
  #login-frame input[type='submit']:hover {
    background: #252525;
    color: #fff; }
  #login-frame #form-wrapper {
    position: absolute;
    top: -9999em;
    bottom: -9999em;
    margin: auto;
    height: 20em;
    width: 100%; }
    #login-frame #form-wrapper h2 {
      font-size: 1.8em;
      font-weight: 600;
      letter-spacing: 1px; }
    #login-frame #form-wrapper span {
      display: block;
      margin-bottom: 1em; }
    #login-frame #form-wrapper label {
      font-weight: bold; }
    #login-frame #form-wrapper a {
      text-decoration: underline;
      color: tomato; }

#login-canvas {
  width: 80%;
  position: absolute;
  max-width: calc(100% - 20em);
  background: #ddd url("../img/crowd.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  right: 0;
  overflow: hidden; }
  #login-canvas #splash-text {
    position: absolute;
    top: -9999em;
    bottom: -9999em;
    margin: auto;
    height: 3em;
    color: #fff;
    font-size: 3em;
    text-align: center;
    width: 100%;
    font-family: "courier new", monospace; }

.inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.message {
  width: 100%;
  height: 2em;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  line-height: 2em; }

.error {
  background: #c0392b; }

.success {
  background: #2ecc71; }

#alert-box {
  width: 50%;
  max-width: 50em;
  margin: auto;
  background: #fff;
  padding: 2em;
  font-size: 1.5em;
  height: 10em;
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  top: -9999em;
  bottom: -9999em;
  left: -9999em;
  right: -9999em;
  margin: auto; }
  #alert-box .logo {
    color: #000; }

#smiley {
  text-align: center;
  margin-top: 2em; }
  #smiley svg {
    width: 1em;
    height: 1em; }

#content-flow {
  width: 70%;
  margin: auto;
  background: #fff;
  border: 1px solid #a4a4a4;
  min-height: 45em;
  margin-top: 5em;
  position: relative; }

.main-pane {
  float: left;
  position: relative;
  width: 80%;
  width: calc(100% - 15em);
  max-width: calc(100% - 15em); }

#user-header {
  width: 100%;
  height: 20em;
  position: relative;
  background: url("../img/dancing.jpg") no-repeat center;
  background-size: cover !important;
  overflow: hidden; }
  #user-header img {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  #user-header #hero-form-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    opacity: 0;
    transition: .4s; }
    #user-header #hero-form-wrapper form {
      height: 5.5em;
      display: block;
      width: 40%;
      position: absolute;
      top: -9999em;
      bottom: -9999em;
      left: -9999em;
      right: -9999em;
      margin: auto;
      text-align: center; }
    #user-header #hero-form-wrapper input {
      display: inline-block;
      height: 2.5em; }
    #user-header #hero-form-wrapper input[type='file'] {
      width: 100%;
      margin-bottom: .5em; }
    #user-header #hero-form-wrapper input[type='submit'] {
      width: 20%;
      border: 1px solid #fff;
      color: #fff;
      background: none;
      font-family: "Roboto Condensed", sans-serif; }

#user-header:hover #hero-form-wrapper {
  opacity: 1; }

#post-flow {
  width: 95%;
  margin: 2em auto;
  position: relative; }

.main-pane:after {
  content: "";
  display: table;
  clear: both; }

.side-pane {
  float: left;
  width: 15em;
  min-height: 1em;
  font-family: "Roboto Condensed", sans-serif; }

#genero-avatar {
  background-size: 80% auto;
  border-radius: 4px;
  max-height: 19em;
  width: 100%;
  line-height: 10em;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em; }
  #genero-avatar a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    z-index: 2; }

.anon {
  background: #ddd url("../img/anon.jpg") no-repeat center;
  height: 10em;
  background-size: cover !important; }

#genero-avatar:hover a {
  display: block; }

#bio-wrapper {
  padding: 1.5em 1em;
  width: 100%;
  max-width: 15em;
  margin: auto;
  height: 100%;
  position: absolute;
  background: #f2f2f2;
  border-right: 1px dotted #959595;
  box-shadow: -2px -5px 5px 0px rgba(0, 0, 0, 0.1) inset; }
  #bio-wrapper img {
    height: 100%;
    width: 100%;
    display: block; }
  #bio-wrapper h4 {
    font-size: 1.4em; }
  #bio-wrapper #logout {
    display: inline-block;
    background: none;
    color: #000;
    border: 1px solid;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0.35em 1.5em;
    text-align: center;
    position: absolute;
    bottom: 2em;
    width: 100%;
    transition: .3s; }
  #bio-wrapper #logout:hover {
    background: #000;
    color: #fff; }
  #bio-wrapper #form-wrapper {
    position: relative;
    margin-top: 4em;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s; }
    #bio-wrapper #form-wrapper input {
      background: #fff;
      border: 1px solid; }
    #bio-wrapper #form-wrapper input[type='file'] {
      width: 100%; }
    #bio-wrapper #form-wrapper input[type='submit'] {
      padding: 0.35em 1.5em;
      display: inline-block; }
  #bio-wrapper .form-hidden {
    height: 0; }
  #bio-wrapper .form-revealed {
    height: 15em; }

#create-post {
  text-align: right; }
  #create-post textarea {
    background: #ddd;
    width: 100%;
    border: none;
    min-height: 10em;
    padding: 5px;
    border: 1px dashed gray;
    text-align: left;
    font-family: "Courier new", monospace, sans-serif; }
  #create-post input {
    display: inline-block;
    background: none;
    border: 1px solid #252525;
    padding: 0.25em 1em;
    margin-top: 1em;
    font-family: "Roboto Condensed", sans-serif; }

@media screen and (max-width: 1366px) {
  #content-flow {
    width: 100%; } }

#bday-activator {
  display: block;
  margin: 3em auto;
  padding: 0.5em 2em; }

#birthday {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500; }

#birthday #happy-birthday {
  height: 50vh;
  width: auto;
  -webkit-animation: down 8s 1;
  animation: down 8s 1;
  position: absolute;
  left: -999999px;
  right: -999999px;
  margin: auto;
  top: 25vh;
  max-width: 90%; }

#birthday marquee {
  height: 100%;
  float: left;
  width: 4em; }

#birthday img {
  height: 4em;
  width: auto;
  float: left; }

@-webkit-keyframes down {
  from {
    top: -52vh; }
  to {
    top: 25vh; } }

@keyframes down {
  from {
    top: -52vh; }
  to {
    top: 25vh; } }

#register-pane {
  background: #fff;
  max-width: 57.5em;
  width: 50%;
  margin: 2.5em auto;
  font-family: "Roboto Condensed", sans-serif;
  padding: 1.5em 1em; }
  #register-pane header h1 {
    font-family: "Georgia", serif;
    font-size: 2.5em;
    display: block; }
  #register-pane header span {
    font-size: 1.1em;
    display: block;
    margin-bottom: 1em; }
  #register-pane input {
    border: 1px solid;
    border-bottom: 2px solid;
    margin-bottom: 1em;
    height: 2.5em; }
  #register-pane label {
    width: 20%;
    display: inline-block; }
  #register-pane #submit-wrapper {
    text-align: center; }
  #register-pane input[type="submit"] {
    background: #252525;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 0.35em 1.5em; }

.post {
  border-bottom: 1px solid #ececec;
  margin-top: 2em;
  clear: both;
  min-height: 8em;
  font-family: "Roboto Condensed", sans-serif; }
  .post .author-wrapper {
    width: 6em;
    height: 6em;
    min-height: 1em;
    float: left;
    position: relative; }
    .post .author-wrapper img {
      max-width: 100%;
      height: auto; }
  .post .post-body {
    float: left;
    width: 80%;
    padding-left: 1.5em; }
  .post .post-body:after {
    content: "";
    display: table;
    clear: both; }
  .post .genero-avatar {
    width: 6em;
    height: 6em;
    background: #ddd url("../img/anon.jpg") no-repeat center;
    background-size: 80% auto;
    border-radius: 3px; }
  .post .post-date {
    color: gray;
    font-size: .8rem; }
