body{
	background:#ddd;
}
// Mixins 

@mixin centerXY(){
	position:absolute;
	top: -9999em;
	bottom: -9999em;
	left: -9999em;
	right: -9999em;
	margin:auto;
}
@mixin centerY(){
	position:absolute;
	top: -9999em;
	bottom: -9999em;
	margin:auto;
}
@mixin clear(){
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

// General Vars
$red: #c0392b;
$green: #2ecc71;
$roboto : 'Roboto Condensed', sans-serif;


// Imports

@import 'reset';
@import 'elements/header';
@import 'pages/login';
@import 'pages/home';
@import "pages/register";
@import 'elements/posts.scss';
