#content-flow{
	width: 70%;
	margin: auto;
	background:#fff;
	border:1px solid #959595 + 15;
	min-height: 45em;
	margin-top:5em;
	position:relative;
}
.main-pane{
	float:left;
	position:relative;
	width: 80%;
	width: calc(100% - 15em);
	max-width: calc(100% - 15em);
}
#user-header{
	width:100%;
	height: 20em;
	position:relative;
	background:url('../img/dancing.jpg') no-repeat center;
	background-size:cover !important;
	overflow:hidden;
	img{
		height:auto;
		width:100%;
		position:absolute;
		top:0;
		left:0;
	}
	#hero-form-wrapper{
		width:100%;
		height:100%;
		background:rgba(0,0,0, .4);
		position:relative;
		opacity:0;
		transition: .4s;
		form{
			height:5.5em;
			display:block;
			width:40%;
			@include centerXY();
			text-align:center;
		}
		input{
			display:inline-block;
			height:2.5em;
		}
		input[type='file']{
			width:100%;
			margin-bottom:.5em;
		}
		input[type='submit']{
			width:20%;
			border:1px solid #fff;
			color:#fff;
			background:none;
			font-family: $roboto;
		}
	}
}
#user-header:hover{
	#hero-form-wrapper{
		opacity: 1;
	}
}
#post-flow{
	width:95%;
	margin:2em auto;
	position:relative;
}
.main-pane:after{
	content: "";
	display: table;
	clear: both;
}
.side-pane{
	float:left;
	width: 15em;
	min-height:1em;
	font-family: $roboto;
}

#genero-avatar{
	background-size: 80% auto;
	border-radius:4px;
	max-height:19em;
	width:100%;
	line-height:10em;
	text-align:center;
	position:relative;
	overflow:hidden;
	margin-bottom:1em;
	a{	
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display:none;
		background: rgba(0,0,0, 0.4);
		color:#fff;
		z-index:2;
	}
}
.anon{
	background:#ddd url('../img/anon.jpg') no-repeat center;
	height:10em;
	background-size:cover !important;
}
#genero-avatar:hover{
	a{
		display:block;
	}
}
#bio-wrapper{
	padding: 1.5em 1em;
	width:100%;
	max-width:15em;
	margin:auto;
	height:100%;
	position:absolute;
	background: #f2f2f2;
	border-right:1px dotted #959595;
	box-shadow:-2px -5px 5px 0px rgba(0,0,0, .1) inset;
	img{
		height:100%;
		width:100%;
		display:block;
	}
	h4{
		font-size:1.4em;
	}
	#logout{
		display:inline-block;
		background: none;
		color:#000;
		border:1px solid;
		font-family: $roboto;
		padding:.35em 1.5em;
		text-align: center;
		position:absolute;
		bottom:2em;
		width:100%;
		transition: .3s;
	}
	#logout:hover{
		background: #000;
		color:#fff;
	}
	#form-wrapper{
		position:relative;
		margin-top:4em;
		width:100%;
		overflow:hidden;
		transition: height .3s;
		input{
			background:#fff;
			border:1px solid;
		}
		input[type='file']{
			width:100%;
		}
		input[type='submit']{
			padding:.35em 1.5em;
			display:inline-block;
		}
	}
	.form-hidden{
		height:0;
	}
	.form-revealed{
		height:15em;
	}
	
}

#create-post{
	text-align: right;
	textarea{
		background:#ddd;
		width: 100%;
		border:none;
		min-height:10em;
		padding:5px;
		border:1px dashed gray;		
		text-align: left;
		font-family: "Courier new", monospace, sans-serif;
	}
	input{
		display:inline-block;
		background:none;
		border:1px solid #252525;
		padding:.25em 1em;
		margin-top:1em;
		font-family: $roboto;
	}
}



@media screen and (max-width: 1366px){
	#content-flow{
		width:100%;
	}
}



// Birthday
#bday-activator{
	display:block;
	margin:3em auto;
	padding: .5em 2em;
}
#birthday {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500; }
  #birthday #happy-birthday {
    height: 50vh;
    width: auto;
    animation: down 8s 1;
    position: absolute;
    left: -999999px;
    right: -999999px;
    margin: auto;
    top: 25vh;
    max-width: 90%; }
  #birthday marquee {
    height: 100%;
    float: left;
    width: 4em; }
  #birthday img {
    height: 4em;
    width: auto;
    float: left; }

@keyframes down {
  from {
    top: -52vh; }
  to {
    top: 25vh; } }
