#login-wrapper{
	height: calc(100vh - 3.5em);
	width:100%;
	position:relative;
	overflow:hidden;
}
#login-frame{
	width:20%;
	min-width:20em;
	height:100vh;
	padding: 2em 1.5em;
	background:#fff;
	position:absolute;
	overflow:hidden;
	font-family: $roboto;
	label, input{
		display:block;
	}
	label{
		margin-top:.5em;
	}
	input{
		width:100%;
		border:1px solid #252525;
		height:3.5em;
		padding-left:.45em;

	}
	input[type='submit']{
		background:none;
		border:1px solid #252525;
		font-family: $roboto;
		font-weight:bold;
		margin-top:2em;
		transition: .3s;
		padding-left:0;
	}
	input[type='submit']:hover{
		background:#252525;
		color:#fff;
	}
	#form-wrapper{
		@include centerY();
		height:20em; 
		width:100%;
		h2{
			font-size: 1.8em;
			font-weight: 600;
			letter-spacing: 1px;
		}
		span{
			display:block;
			margin-bottom:1em;
		}
		label{
			font-weight:bold;
		}
		a{
			text-decoration: underline;
			color: tomato;
		}
	}
}
#login-canvas{
	width:80%;
	position:absolute;
	max-width: calc(100% - 20em);
	background: #ddd url('../img/crowd.jpg') no-repeat center;
	background-size:cover;
	height:100vh;
	right:0;
	overflow:hidden;
	#splash-text{
		@include centerY();
		height:3em;
		color:#fff;
		font-size: 3em;
		text-align: center;
		width:100%;
		font-family: "courier new", monospace;
	}
}
.inner-wrapper{
	position:relative;
	width:100%;
	height:100%;
}

// Register page
.message{
	width:100%;
	height:2em;
	text-align: center;
	font-family: $roboto;
	color:#fff;
	line-height:2em;
}
.error{
	background: $red;
}
.success{
	background: $green;
}


// logout

#alert-box{
	width:50%;
	max-width:50em;
	margin:auto;
	background:#fff;
	padding:2em;
	font-size:1.5em;
	height:10em;
	font-family: $roboto;
	@include centerXY();
	.logo{
		color:#000;
	}
}
#smiley{
	text-align:center;
	margin-top:2em;
	svg{
		width:1em;
		height:1em;
	}
}