#register-pane{
	background:#fff;
	max-width:57.5em;
	width:50%;
	margin:2.5em auto;
	font-family: $roboto;
	padding:1.5em 1em;
	header{
		h1{
			font-family: "Georgia", serif;
			font-size: 2.5em;
			display:block;
		}
		span{
			font-size: 1.1em;
			display:block;
			margin-bottom:1em;
		}
		
	}
	input{
		border: 1px solid;
		border-bottom:2px solid;
		margin-bottom:1em;
		height:2.5em;
	}
	label{
		width:20%;
		display:inline-block;
	}
	#submit-wrapper{
		text-align: center;
	}
	input[type="submit"]{
		background:#252525;
		color:#fff;
		border: none;
		display:inline-block;
		padding:.35em 1.5em;
	}

}