#site-header{
	height:3.5em;
	width:100%;
	background:#252525;
	padding:.25em 5%;
	position:relative;
	h1{
		color:#fff;
		font-family: $roboto;
		font-size:2.75em;
		position:relative;
		z-index: 1;
	}
}

.logo{
	color:#fff;
	font-family: $roboto;
	font-size:2.75em;
	position:relative;
	z-index: 1;
}

#header-background{
	animation: fadein 1s 1;
	background: url('../img/starry.jpg') no-repeat center;
	background-size: cover;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;	 
}


@keyframes fadein{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}