.post{
	border-bottom:1px solid #ececec;
	margin-top:2em;
	clear:both;
	min-height:8em;
	font-family:$roboto;
	.author-wrapper{
		width:6em;
		height: 6em;
		min-height:1em;
		float:left;
		position:relative;		
		img{
			max-width:100%;
			height: auto;
		}
	}
	.post-body{
		float:left;
		width:80%;
		padding-left:1.5em;
	}
	.post-body:after{
		content: "";
		display: table;
		clear: both;
	}
	.genero-avatar{
		width:6em;
		height:6em;
		background:#ddd url('../img/anon.jpg') no-repeat center;
		background-size: 80% auto;
		border-radius:3px;
	}
	.post-date{
		color:gray;
		font-size:.8rem;
	}
}